@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.organism__chat_room_creator {
    padding: 20px;

    form {
        flex-direction: column;
        margin-top: 20px;

        textarea {
            padding: 10px;
        }

        button {
            margin-top: 20px;
        }
    }
}
