@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.baseScreen {
    display: flex;
    flex-direction: column;
}

@include for-tablet-landscape-up {
    .baseScreen {
        display: flex;
        flex-direction: row;
        main {
            margin-left: 15%;
            width: 85%;
        }
    }
}
