@import '../../../styles/variables.scss';

.atom__text {
    &__primary {
        color: $primary-color;
    }

    &__secondary {
        color: $secondary-color;
    }

    &__accent {
        color: $accent-color;
    }

    &__small {
        font-size: $small-font;
    }

    &__medium {
        font-size: $medium-font;
    }

    &__large {
        font-size: $large-font;
    }

    &__extraLarge {
        font-size: $extraLarge-font;
    }

}
