{
    "extends": ["react-app", "react-app/jest", "airbnb", "import", "prettier"],
    "plugins": ["prettier"],
    "rules": {
        "prettier/prettier": "error",
        "import/prefer-default-export": "off",
        "import/no-default-export": "error",
        "import/no-cycle": "off",
        "react/react-in-jsx-scope": "off",
        "react/jsx-uses-react": "off",
        "camelcase": "off",
        "react/function-component-definition": [
            "error",
            { "namedComponents": "arrow-function" }
        ],
        "arrow-body-style": "off",
        "react/require-default-props": [
            "error",
            {
                "forbidDefaultForRequired": true
            }
        ],
        "react/jsx-wrap-multilines": [
            "error",
            { "declaration": false, "assignment": false }
        ],
        "object-curly-newline": "off",
        "react/button-has-type": "off",
        "jsx-a11y/click-events-have-key-events": "off",
        "jsx-a11y/no-noninteractive-element-interactions": "off",
        "class-methods-use-this": "off",
        "implicit-arrow-linebreak": "off",
        "max-len": "off",
        "function-paren-newline": "off"
    }
}
