@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.comment {
    margin: 1rem 1rem 2rem;

    &__info {
        display: flex;
        gap: 2rem;
        align-items: center;
    }

    &__text {
        margin: 1rem 3rem;
        padding: 1rem 1rem;
        background-color: $comment-backgroundColor;
        border-radius: 10px;
        box-shadow: $box-shadow;
    }
}
