@import '../../../styles/variables.scss';

.modal {
    &__background {
        display: flex;
        width: 100%;
        height: 100%;
        position: fixed;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        background: $primary-backgroundColor;
    }
    &__wrapper {
        height: 90%;
        width: 60%;
        background: $secondary-backgroundColor;
        border-radius: 10px;
    }
    &__button {
        float: right;
        margin: 5px;
    }
}
