@import './variables.scss';
@import './mixins.scss';

html {
    font-size: 50%;
    body {
        padding: 0;
        margin: 0;
        background-color: $primary-backgroundColor;
        font-family: $font-style;
        color: $primary-color;
        font-size: 1.5rem;
    }
}

@include for-tablet-landscape-up {
    html {
        font-size: 75%;
        body {
            font-size: 1rem;
        }
    }
}

@include for-desktop-up {
    html {
        font-size: 100%;
    }
}
