$font-style: 'Roboto', sans-serif;

$small-font: 0.875rem;
$medium-font: 1.125rem;
$large-font: 1.5rem;
$extraLarge-font: 2.25rem;

$icon-width: 2.5rem;
$icon-width-small: 2rem;
$icon-width-large: 3rem;

$image-width-medium: 7.813rem;
$image-width-large: 11.25rem;

$primary-color: #ffffff;
$secondary-color: #776e6e;
$accent-color: #fcc67c;
$btn-color: #000000;

$primary-backgroundColor: #000000;
$secondary-backgroundColor: #171717;
$comment-backgroundColor: #25252580;
$my-comment-backgroundColor: #5ab9ee80;

$btn-backgroundColor: #fcc67c;

$box-shadow: 0px 4px 4px #00000040;