@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.home__page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__logo {
        margin-bottom: 4rem;
    }
}

@include for-phone-only {
    .home__page {
        &__logo {
            width: 60%;
            margin-bottom: 0;
        }
    }
}
