@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.post {
    margin: 1rem 3rem 0 3rem;
    height: auto;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-areas:
        'post'
        'input';

    .form__field {
        margin: 1rem 3rem 0 3rem;
        width: 130rem;
    }
}

@include for-tablet-landscape-up {
}
