@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.nav__bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $secondary-backgroundColor;
    padding: 1rem 0;
    justify-content: space-between;
    position: relative;

    &__logo {
        width: $image-width-large;
        height: 70px;
    }

    &__section {
        display: flex;
        padding-right: 3rem;

        &__imgcookie {
            cursor: pointer;
        }

        .cookie {
            &__popup {
                position: absolute;
                top: 100%;
                right: 16%;
                background: $cookie-background;
                width: 30vh;
                max-height: 200px;
                overflow: hidden;
                text-overflow: ellipsis;
                z-index: 999;
                padding: 1rem 1rem;
                border-radius: 10px;
                &__button {
                    margin: 0 1rem 1rem 0;
                    cursor: pointer;
                }
            }
        }
    }
}

@include for-phone-and-tablet {
    .nav__bar {
        &__section {
            .cookie {
                &__popup {
                    right: 25%;
                }
            }
        }
    }
}

@include for-tablet-landscape-up {
    .nav__bar {
        width: 8%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        padding: 0 2.5rem;
        justify-content: unset;

        &__logo {
            width: $image-width-medium;
            height: 150px;
            padding-bottom: 1rem;
        }

        &__section {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-right: 0;

            .cookie {
                position: relative;

                &__popup {
                    left: 6rem;
                    width: 50vh;
                }
            }
        }
    }
}
