@import '../../../styles/variables.scss';

.icon {
    height: auto;
    &__small {
        width: $icon-width-small;
    }
    &__medium {
        width: $icon-width;
    }

    &__large {
        width: $icon-width-large;
    }
    &__close-button {
        &:hover {
            cursor: pointer;
            opacity: 50%;
        }
    }
    //TODO add custom styling
}
