@import '../../../styles/variables.scss';

.atom__button {
    border-radius: 10px;
    outline: none;
    color: white;
    border: none;
    font-size: unset;
    padding: 10px;
    margin: 5px;
    cursor: pointer;

    &:hover {
        opacity: 80%;
    }

    &__submit {
        background-color: rgb(0, 255, 34);
    }

    &__primary {
        background-color: $btn-backgroundColor;
    }

    &__secondary {
        background-color: grey;
    }

    &__cancel {
        background-color: rgb(255, 73, 73);
    }
}
