@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.dropdown__open {
    display: block;
}

.dropdown__close {
    display: none;
}

.navigation {
    padding-bottom: 1rem;
}

@include for-tablet-landscape-up {
    .navigation {
        display: block;
    }
}
