@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

.post__field {
    margin: 1rem 3rem 0 3rem;
    height: auto;
    display: grid;
    grid-template-columns: 7.5rem 35rem 6rem 6rem 6rem;
    grid-template-rows: 1.5rem 6rem auto auto;
    grid-template-areas:
        'avatar names names date date'
        'avatar message message message message'
        'avatar iinput icons1 icons2 icons3'
        'line line line line line';
    img {
        border-radius: 50%;
        width: 7.5rem;
        grid-area: avatar;
        align-self: start;
        cursor: pointer;
    }
    .message {
        font-size: 1rem;
        max-width: 50rem;
        height: calc(100% - 1.23rem);
        padding: 0.625rem 0.75rem;
        margin-left: 0.5rem;
        grid-area: message;
        align-self: center;
        justify-self: start;
        border-radius: 10px;
        background-color: $primary-backgroundColor;
    }
    .date {
        font-size: 1rem;
        grid-area: date;
        justify-self: start;
        align-self: flex-end;
        opacity: 0.6;
    }
    .form {
        &__comment {
            width: 100% !important;
        }
    }
    .username {
        font-size: 1.5rem;
        border-radius: 10px;
        margin-left: 0.5rem;
        padding-left: 0.75rem;
        grid-area: names;
    }
    .icon {
        fill: $primary-color;
        align-self: center;

        &__like_button,
        &__like_button_active {
            grid-area: icons1;
            margin-left: 0.5rem;
            padding-left: 0.75rem;
        }

        &__dislike_button,
        &__dislike_button_active {
            fill: $primary-color;
            grid-area: icons2;
            margin-left: 0.5rem;
        }

        &__like_button_active,
        &__dislike_button_active {
            fill: $accent-color;
        }

        &__comment_button {
            grid-area: icons3;
        }
    }
    hr {
        margin: 1rem 0 2rem;
        grid-area: line;
        width: 100%;
        opacity: 0.1;
    }
}
