@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.userinfo {
    order: 1;

    &__text {
        display: none;
    }

    .atom__image {
        cursor: pointer;
        border-radius: 50%;
    }
}

@include for-tablet-landscape-up {
    .userinfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-bottom: 2rem;
        order: 0;

        &__text {
            display: block;
        }

        .atom__image {
            margin-bottom: 1.5rem;
            cursor: unset;
        }
    }
}
