@import '../../../styles/variables.scss';

.atom__image {
    &__medium {
        width: $image-width-medium;
        height: auto;
    }
    &large {
        width: $image-width-large;
        height: auto;
    }
}