@import '../../styles/variables.scss';

.error__page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-weight: 800;
    font-size: 2rem;
    .error__text {
        &__small {
            font-size: 2rem;
            text-align: center;
        }
        &__medium {
            font-size: 4rem;
        }
        &__large {
            font-size: 7rem;
        }
        &__extraLarge {
            font-size: 15rem;
        }
    }
}
